body {
  color: #222;
  /*background-color: #3653c4;*/
  /*background-color: #000000;*/
  overflow: hidden;
  margin: 0px;
}

div.data {
  position: absolute;
  bottom: 5%;
  margin-left: 25px;
}

h1 {
  color: #f2f2f2;
  position: relative;
  text-transform: uppercase;
  font-family: 'Unica One', cursive;
  padding: 0px;
  margin: 0px;
}

hr {
  background-color: white;
  color: white;
  border: none;
  height: 3px;
}

.zon {
  position: absolute;
  top: -15%;
  width: 100%;
  height: 500px;
  background: url('../img/zon.png') repeat;
  opacity: 0;
}

.wolken1 {
  position: absolute;
  top: -5%;
  width: 100%;
  height: 341px;
  background: url('../img/wolken.png') repeat;
  opacity: 0;
}

.wolken2 { 
  position: absolute;
  top: 15%;
  width: 100%;
  height: 341px;
  background: url('../img/wolken.png') repeat;
  opacity: 0;
}

.maan {
  position: absolute;
  top: -15%;
  width: 100%;
  height: 500px;
  background: url('../img/maan.png') repeat;
  opacity: 0;
}

.sterren1 {
  position: absolute;
  top: -5%;
  width: 100%;
  height: 341px;
  background: url('../img/sterren.png') repeat;
  opacity: 0;
}

.sterren2 { 
  position: absolute;
  top: 15%;
  width: 100%;
  height: 341px;
  background: url('../img/sterren.png') repeat;
  opacity: 0;
}

.overdag {
  opacity: 1;
  scale: 0;
}



.dedatum {
  grid-area: dedatum;
}

.detijd {
  grid-area: detijd;
}



@media only screen and (min-width: 0px) and (max-width: 499px){
  body{
    display: grid;
    grid-template-columns: 100%;

    grid-template-areas: 
          "dedatum"
          "detijd"
  }

  h1 {
    font-size: 35px;
  }
}

@media only screen and (min-width: 500px) and (max-width: 834px){
  body{
    display: grid;
    grid-template-columns: 100%;

    grid-template-areas: 
          "dedatum"
          "detijd"
  }

  h1 {
    font-size: 45px;
  }
}

@media only screen and (min-width: 835px) and (max-width: 1199px){
  body{
    display: grid;
    grid-template-columns: 100%;

    grid-template-areas: 
          "dedatum"
          "detijd"
  }

  h1 {
    font-size: 55px;
  }
}

@media only screen and (min-width: 1200px){
  body{
    display: grid;
    grid-template-columns: 100%;

    grid-template-areas: 
          "dedatum"
          "detijd"
  }

  h1 {
    font-size: 65px;
  }
}

